:root {
  --yellow: #eaa027;
  --red: #c1273a;
  --blue: #455b7c;
  --darkblue: #1a212c;
  --white: #fff;
  --black: #000;
}

html {
  min-height: 100%;
  background-image: url(../img/bg\ grey.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
  background-attachment: fixed;
}

/*custom scrollbar*/
::-webkit-scrollbar {
  width: 12px;
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, var(--red));
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, var(--white));
}

body {
  height: 200vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Poller One", "cursive", "NATS", sans-serif;
}

/*global*/
.container {
  margin: auto;
  width: 90%;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  list-style: none;
  text-decoration: none;
}

.right {
  float: right;
}

.left {
  float: left;
}

.red-border {
  border: solid 3px var(--red);
}

.white-border {
  border: solid 3px var(--white);
}

.yellow-bg {
  background-color: var(--yellow);
}

.red-bg {
  background-color: var(--red);
}

.blue-bg {
  background-color: var(--blue);
}

.yellow-txt {
  color: var(--yellow);
}

.red-txt {
  color: var(--red);
}

.white-txt {
  color: var(--white);
}

.uppercase-txt {
  text-transform: uppercase;
}
/* For sticky header */
.content {
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/*header*/

header {
  font-size: 30px;
  font-family: "NATS", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
}

header a {
  display: block;
}

header a:hover {
  border-bottom: var(--red) 3px solid;
}

header .current {
  border-bottom: var(--red) 3px solid;
  position: relative;
}

header li {
  margin: 0px 20px;
  display: inline;
}

header .main-logo {
  float: left;
}

header .sign-in-btn {
  text-transform: uppercase;
  padding: 5px 20px;
  font-size: 25px;
  background-color: var(--yellow);
  border-radius: 20px;
  border: 3px solid var(--red);
  color: var(--red);
  cursor: pointer;
}

header .sign-in-btn:hover {
  color: var(--white);
  background-color: var(--red);
}

header .home-tab {
  text-transform: uppercase;
  color: var(--black);
}

.landing-content {
  padding: 5% 0% 5% 5%;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-content-left {
  align-items: center;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.landing-content-right {
  width: 50%;
}

.title-1 {
  color: var(--white);
  font-family: "Poller One";
  font-size: 69px;
}

.title-2 {
  color: var(--white);
  font-family: "NATS";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
}

.order-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 3px;
  color: var(--white);
  font-weight: 700;
  font-family: "Roboto";
  text-transform: uppercase;
  padding: 1vw 3vw;
  font-size: 1.5vw;
  border-radius: 35px;
  border: none;
  cursor: pointer;
}

.order-btn:hover {
  opacity: 0.7;
}

.sushi-logo {
  height: 100%;
  justify-content: center;
  width: 100%;
}

/*-----------------Main Page----------------*/
.word-logo {
  object-fit: contain;
  height: 50px;
}

.mainpage-bg {
  background-image: url(../img/bg.png);
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.flexbox-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex {
  margin-bottom: 3%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; /* assumes you only want one row */
}

.flex a {
  text-align: center;
  text-transform: uppercase;
  color: #6c6969;
  font-family: "NATS";
  font-weight: 500;
  font-size: 20px;
  background: #e0e0e0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  width: 150px;
  margin: 0;
}

.flex a:hover {
  color: var(--red);
  border: 2px solid var(--red);
}

.flex-1 {
  background-color: var(--yellow);
  justify-content: space-evenly;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* assumes you only want one row */
}

.flex-1 a {
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  font-family: "NATS";
  font-weight: 500;
  font-size: 20px;
}

.flex-1 a:hover {
  border-bottom: 5px solid var(--red);
}

/*-----------------Main Page - landing page----------------*/
.welcome {
  margin: auto;
  width: 90%;
  font-family: "NATS";
  display: flex;
  flex-direction: column;
}
.welcome-1 {
  text-align: center;
}
.welcome-2 {
  font-size: 7vw;
  width: 50%;
  margin-top: -2%;
  margin-bottom: -15%;
}

.sushi-ready-txt {
  position: relative;
  top: -3.5ex;
}
.welcome-3 {
  width: 10%;
}

.welcome-3 hr {
  border: 5px solid var(--yellow);
  color: var(--yellow);
}
.welcome-4 {
  color: var(--blue);
  font-size: 0.8vw;
}

.welcome-5 {
  padding-bottom: 5%;
}

/*-----------------Main Page - about us----------------*/
.about-us {
  background-color: var(--white);
  margin: auto;
  width: 100%;
  font-family: "NATS";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abt-us-detail {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.abt-us-txt {
  color: var(--yellow);
}
.abt-us-icon {
  width: 40%;
}

.width-10 {
  width: 10%;
}

.width-20 {
  width: 20%;
}

/*-----------------Main Page - about menu----------------*/
.abt-menu {
  width: 100%;
  font-family: "NATS";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin-minus {
  margin-top: -2%;
}

.menu-display {
  width: 95.5%;
  background: #edeff1;
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.menu-display-detail {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid var(--blue);
  width: 20%;
}

.menu-display-detail h1 {
  font-size: 30px;
}

.menu-icon {
  margin: auto;
  width: 80%;
}

.width-4 {
  width: 4%;
}

.width-1 {
  width: 1%;
}

.padding-tb {
  padding: 30px 0 30px 0;
}

/*-----------------Main Page - Contact Us----------------*/
.abt-contact {
  font-family: "NATS";
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.abt-contact-detail {
  width: 100%;
  font-family: "Neucha";
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.title-underline {
  text-decoration: underline;
}

.contact-1 {
  width: 35%;
}

.socmed-detail {
  display: flex;
  flex-direction: row;
}

.socmed-quote {
  width: 40%;
}
.socmed-info {
  width: 60%;
  text-align: left;
}

.socmed-info a {
  color: var(--white);
  font-size: 25px;
  font-family: "Montserrat";
}

.socmed-info a:hover {
  color: #000;
  text-decoration: underline;
}

.contact-2 {
  width: 25%;
}

.contact-3 {
  width: 35%;
}

.operating-detail {
  display: flex;
  flex-direction: row;
}

.vertical-border {
  border-left: 10px solid var(--red);
  border-right: 10px solid var(--red);
}

@media (max-width: 1100px) {
  .abt-us-detail {
    flex-direction: column;
    align-items: center;
  }

  .menu-display {
    align-items: center;
    flex-direction: column;
  }
  .menu-display-detail {
    margin: 1%;
    width: 70%;
  }

  .width-20 {
    width: 80%;
  }
}

/*-----------------Menu Page----------------*/

.menu-header {
  font-family: "Poppins";
  text-align: center;
}

.menu-detail {
  font-family: "Poppins";
  text-align: center;
  width: 100%;
}

.menu-table {
  padding: 0.5% 5%;
}

.menu-table-detail {
  width: 100%;
  display: flex;

  flex-wrap: wrap;
}

.menu-row {
  display: flex;
  flex-direction: row;
}

.black-border {
  border: 1px solid var(--black);
}

.menu-card {
  align-items: center;
  justify-content: center;
  width: 19%;
  margin: 0.5%;
}

.menu-display-table {
  background: #f6f6f6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: max-content;
}

.menu-img {
  width: 100%;
  color: #000;
}

.details {
  color: #2c2727;
  text-align: left;
}

.detail-title {
  text-transform: uppercase;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.details-title-desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #2c2727;
  margin-bottom: 2%;
  height: 50px;
}

.details-title-price {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #1a212c;
}

.margin-1 {
  margin: 0 4%;
}

.menu-col {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: center;
}
.input-menu {
  height: 33px;
  margin-top: 2%;
  overflow: hidden;
  display: flex;
  justify-content: right;
}

.input-btn {
  color: #000;
}

.input-btn input {
  width: 40px;
  font-size: 15px;
  outline: none;
  border-left: none;
  border-right: none;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
}

.input-btn .minus-btn {
  color: var(--yellow);
  font-size: 20px;
  margin: 0;
  width: 30px;
  border: 1px solid #cfcfcf;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.input-btn .plus-btn {
  color: var(--yellow);
  font-size: 20px;
  margin: 0;
  width: 30px;
  border: 1px solid #cfcfcf;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.input-btn .minus-btn:hover,
.input-btn .plus-btn:hover {
  color: var(--white);
  background-color: var(--red);
}

.cart {
  margin-left: 10px;
  padding: 0 20px;
  background-color: var(--yellow);
  color: var(--white);
  font-weight: 700;
  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 25px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.custom-set {
  background: #f6f6f6;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 1% 1% 0 1%;
}

.choose-set-div {
  width: 99%;
  margin: 2% auto;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.set-detail-div {
}

.add-sushi {
  width: 57%;
  padding-right: 2%;
}

.black-txt {
  color: #000;
}

.sushi-list-div {
  height: 652px;
  background: #ffffff;
  border: 3px solid #e2929c;
  box-sizing: border-box;
  margin: 1% 0;
  overflow-x: auto;
}

.sushi-list-detail {
  display: flex;
  flex-direction: row;
  background: #fdfdfd;
  border: 1px solid #e2929c;
  box-sizing: border-box;
}

.sushi-list-img {
  width: 20%;
  border-right: 1px solid #c4c4c4;
}

.sushi-list-img img {
  width: 100%;
}

.sushi-detail {
  width: 50%;
  padding: 1%;
  border-right: 1px solid #c4c4c4;
}

.sushi-list-input {
  width: 30%;
  height: 33px;
  display: flex;
  margin: auto;
  padding: 0 2%;
}

.fit-width {
  width: fit-content;
}

.sushi-list-name {
  text-align: start;
  color: #2c2727;
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

.sushi-list-dsc {
  border-top: 1px solid #c4c4c4;
  font-size: 13px;
  margin: 0;
  font-style: italic;
  text-align: left;
}

.add-sushibox-btn {
  margin-left: 10px;
  padding: 7px 40px;
  background: #c1273a;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  color: var(--white);
  font-weight: 700;
  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.choose-set-title {
  color: #1a212c;
  margin: auto 0;
  font-size: 20px;
  padding-left: 0.5%;
}

.search-div {
  background: #ffffff;
  width: 60%;
}

.search-div input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  background: #f1f1f1;
  border: 1px solid var(--red);
  border-right: none;
}

.search-div input[type="text"]::placeholder {
  color: #ea8794;
  font-style: italic;
}

.search-div i {
  width: 10%;
  padding: 10px;
  color: var(--red);
  font-size: 17px;
  border: 1px solid var(--red);
}

.search-div::after {
  content: "";
  clear: both;
  display: table;
}

.add-sushibox {
  width: 39%;
  display: flex;
  flex-direction: column;
}

.choose-sushi-title {
  width: 100%;
  color: #1a212c;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  text-align: start;
}

.sushibox-table {
  padding: 0% 5%;
  width: 90%;
  background: #f4f0f0;
  border: 3px solid #e2929c;
  text-align: left;
  height: 650px;
  margin-bottom: 2%;
}

.sushibox-set-name {
  color: #2c2727;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
}
.sushibox-set-bg {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  color: #000;
}

.sushibox-set-fixed-piece {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  overflow-x: auto;
  height: 200px;
}

.sushibox-set-choose-option {
  margin-bottom: 5%;
  height: 200px;
}

.sushibox-set-notes {
  height: 100px;
  display: flex;
  flex-direction: column;
}

.sushibox-set-title {
  text-transform: uppercase;
  border-left: 25px solid var(--red);
  padding-left: 5px;
  font-size: 20px;
  margin: 0;
}

.sushibox-line {
  margin: 3% 0;
  background-color: #fcecee;
  border: 1px solid #fcecee;
}

.sushibox-set-detail {
  margin: 2% 0;
  justify-content: space-between;
  font-size: 10px;
}

.fixed-piece-name {
  margin: 0;
}

.fixed-piece-qty {
  margin: 0;
  padding: 3px 10px;
  color: #575454;
  background: #f6f6f6;
  border: 1px solid #7c7373;
  border-radius: 2px;
}

.sushi-option-name {
  border-left: 10px solid var(--red);
  padding-left: 5px;
}

.sushi-option-status {
  color: #a9a2a2;
  font-style: italic;
  font-weight: normal;
}

.sushibox-notes {
  width: 100%;
  outline: none;
  border: none;
  resize: none;
}

.sushibox-notes::placeholder {
  color: #c4c4c4;
  font-style: italic;
  font-weight: normal;
}

.padding-2 {
  padding: 2%;
}

/* the container must be positioned relative: */
.custom-select {
  width: 20%;
  margin: auto 0;
}

.custom-select select {
  text-align: left;
  width: 80%;
  font-size: 18px;
  font-family: "NATS";
  text-transform: uppercase;
  color: var(--red);
  background: #fdfdfd;
  border: 1px solid #c1273a;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding: 0 1%;
}

/*-----------------Sushi Box Page----------------*/

.sushibox-detail {
  font-family: "Poppins";
  text-align: center;
  width: 80%;
  margin: auto;
}

.sushibox-detail h1 {
  font-weight: bolder;
  text-transform: uppercase;
}

.sushibox-detail table {
  width: 100%;
  border-collapse: collapse;
}

.tbl-header {
  background-color: var(--red);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tbl-header th {
  padding: 1% 0;
  color: white;
  font-weight: normal;
  font-size: 24px;
}

.tbl-content,
.tbl-content-checkout {
  background-color: var(--white);
  height: 100%;
  overflow-x: auto;
  margin-top: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tbl-content th {
  padding: 1% 0;
  color: var(--red);
  font-weight: normal;
  font-size: 20px;
}

.none-outline {
  border: none;
  outline: none;
}

.tbl-content th input {
  text-align: center;
  padding: 1% 0;
  color: var(--red);
  font-weight: normal;
  font-size: 20px;
}

/* The sushi-container   */
.sushi-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.sushi-container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: var(--white);
  border: 1px solid var(--red);
}

/* On mouse-over, add a grey background color */
.sushi-container :hover input ~ .checkmark {
  background-color: var(--white);
}

/* When the checkbox is checked, add a blue background */
.sushi-container input:checked ~ .checkmark {
  background-color: var(--red);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.sushi-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.sushi-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sushi-container label {
  padding-left: 50px;
}

.display-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tbl-content-checkout th {
  padding: 1% 0;
  color: var(--black);
  font-weight: normal;
  font-size: 20px;
}

th .info-amount {
  font-size: 30px;
  color: var(--red);
  font-weight: bolder;
}

th .info-checkout {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 3px;
  color: var(--white);
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.7vw 3vw;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

th .info-checkout:hover {
  opacity: 0.7;
}

.info-20 {
  width: 20%;
}

.info-10 {
  width: 10%;
}
.info-5 {
  width: 5%;
}
.info-3 {
  width: 3%;
}
.info-30 {
  width: 30%;
}

.margin-empty-sushi {
  padding: 5% 10%;
}

/*-----------------Check Out Detail----------------*/
.checkout-detail {
  font-family: "Poppins";
  text-align: center;
  width: 90%;
  margin: auto;
}

.checkout-detail-title {
  display: flex;
  flex-direction: row;
}

.checkout-detail-title .navigation-txt {
  display: flex;
  align-items: center;
}

.text-center {
  margin: auto;
}

.checkout-detail-title .title-page {
  width: 80%;
}

.checkout-detail a {
  color: var(--black);
}

.checkout-detail a:hover {
  color: var(--red);
  border-bottom: 3px solid var(--red);
}

.payment-details {
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 16px;
  background-color: #f1f1f1;
  width: 60%;
  margin: auto;
  border-radius: 5px;
  border-color: black;
}

.payment-details h4 {
  text-align: center;
  text-transform: uppercase;
}

.row-payment {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: auto;
}

.row-payment label {
  text-align: left;
}
.row-payment input {
  width: 10%;
}

.row-payment-col {
  display: flex;
  flex-direction: column;
}

.payment-30 {
  margin: auto;
  width: 20%;
}

.payment-70 {
  text-align: left;
  width: 80%;
}

.margin-top-2 {
  margin-top: 2%;
}

.payment-details input[type="text"],
.payment-details input[type="tel"] {
  text-align: left;
  width: 100%;
  padding: 15px 10px;
  border: solid 1px #e4e4e4;
  border-radius: 4px;
  background: #fcfcfc;
  font-size: 15px;
  color: gray;
}

.cashbtn,
.creditbtn,
.onlinebtn,
.grabpaybtn,
.touchngobtn,
.boostbtn {
  padding: 10px;
  margin: 1%;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.box-1,
.box-2,
.box-3 {
  width: 95%;
  margin: auto;
}

.box-2 img,
.box-3 img,
.box-4 img,
.box-5 img,
.box-6 img {
  width: 100px;
}

.box-1 label,
.box-2 label,
.box-3 label,
.box-4 label,
.box-5 label,
.box-6 label {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gotopaymentbtn {
  text-transform: uppercase;
  background-color: var(--red);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 95%;
  margin: auto;
}

.filter-container {
  margin: 0% 0% 0 0;
}

.filter-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.filter-container ol {
  list-style: none;
}

.filter-container a {
  text-decoration: none;
  color: inherit;
}

.filter-container h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.filter-container h1 a {
  transition: all 0.1s;
}

.filter-container h1 a:hover {
  background: var(--green);
  color: var(--white);
}

.filter-container input[type="radio"] {
  position: absolute;
  left: -9999px;
}

[value="cash"]:checked ~ .box-1 [for="cash-method"],
[value="card"]:checked ~ .box-2 [for="card-method"],
[value="online"]:checked ~ .box-3 [for="online-banking-method"],
[value="grabpay"]:checked ~ .box-4 [for="grabpay-method"],
[value="touchngo"]:checked ~ .box-5 [for="touchngo-method"],
[value="boost"]:checked ~ .box-6 [for="boost-method"] {
  border: solid 1px black;
}

/*-----------------User Profile Page----------------*/
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.profile-detail {
  font-family: "Poppins";
  text-align: center;
  width: 90%;
  height: 100%;
  margin: auto;
}

.profile-tbl {
  display: flex;
  margin: auto;
  width: 90%;
}

.sidebar-profile {
  padding-top: 5%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sidebar-profile i {
  margin: 0 auto;
  width: 70%;
  border-radius: 50%;
  border: 2px solid var(--red);
  font-size: 130px;
}

.sidebar-profile-btn {
  outline: none;
  border: none;
  background: #fdfdfd;
  margin: 1% 0;
  padding: 15px;
  font-size: 18px;
  font-family: "Poppins";
}

.sidebar-btn-active,
.sidebar-profile-btn:hover {
  margin: 1% 0;
  padding: 15px;
  font-size: 18px;
  font-family: "Poppins";
  border-left: 10px solid var(--red);
  border-right: none;
  border-top: none;
  border-bottom: none;
  color: var(--red);
  outline: none;
  background: #fdfdfd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.main-profile {
  background: #f6f6f6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-profile-detail {
  display: flex;
  text-align: left;
}

.main-profile-detail-left {
  margin-top: 4%;
  margin-bottom: 4%;
  width: 40%;
}

.main-profile-detail-right {
  margin-top: 4%;
  margin-bottom: 4%;
  width: 40%;
}

.order-status-filter {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
  background: var(--red);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

.order-status-filter h3 {
  font-size: 15px;
  padding: 1% 0;
  margin: 0;
  width: 20%;
}

.status-active {
  border-bottom: 5px solid var(--yellow);
}

.order-status-filter a {
  color: var(--white);
}

.order-status-filter a:hover {
  color: var(--black);
}

.order-content-all {
  font-family: "Poppins", sans-serif;
  width: 90%;
  margin: 2% auto;
  background: var(--red);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.alacarte-layout {
}

.set-layout {
  background-color: #fff;
}

.set-layout-header-1 {
  padding: 1%;
}

.hr-line {
  border-right: 1px solid gray;
}

.status-div {
  text-align: right;
  padding: 0 1%;
}

.status-div h3 {
  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.set-name {
  font-weight: 400;
  font-size: 15px;
}

.order-date-txt {
  color: #e2929c;
  font-size: 15px;
}

.uppercase {
  text-transform: uppercase;
}

.set-layout-content {
  border-bottom: 1px solid var(--red);
  padding: 1%;
}

.sushi-order-img {
  width: 15%;
  border-right: 1px solid gray;
}

.sushi-order-img img {
  width: 100%;
}

.sushi-order-detail {
  width: 85%;
  padding: 1%;
}

.sushi-order-dsc {
  font-size: 15px;
  margin: 0;
  font-style: italic;
  text-align: left;
}

.sushi-order-detail-1 {
  justify-content: space-between;
  color: var(--blue);
}

.sushi-order-subtotal {
  font-size: 20px;
  color: var(--yellow);
  text-align: end;
}
.sushi-order-total {
  justify-content: flex-end;
  padding-top: 1%;
}

.sushi-order-total h2 {
  font-weight: 400;
  font-size: 20px;
  color: var(--white);
}

.buy-again-btn {
  background-color: var(--yellow);
  margin: 0 1%;
  height: fit-content;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 2px;
  color: var(--white);
  font-weight: 600;
  text-transform: uppercase;
  padding: 1% 2%;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  opacity: 0.7;
}

.margin-auto {
  margin: auto;
}

.margin-0 {
  margin: 0;
}

.set-layout-header {
  padding: 0 1%;
  justify-content: space-between;
}

.user-detail div {
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
}

.gender-detail {
  flex: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gender-detail label {
  font-size: 17px;
  padding: 0px 30px;
}

.user-detail {
  margin-bottom: 5%;
}

.user-detail-col {
  display: flex;
  flex-direction: column;
}

.user-detail-btn {
  margin: 0;
  width: 60%;
  float: right;
}

.save-edit-btn {
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 2px;
  color: var(--white);
  text-transform: uppercase;
  padding: 0.7vw 1.5vw;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.save-edit-btn:hover {
  opacity: 0.7;
}

.user-detail-col input {
  padding: 6% 5%;
}

.user-detail h3 {
  margin: 0;
  text-transform: uppercase;
}

.input-detail {
  width: 94%;
  padding: 3%;
  font-size: 20px;
  color: var(--black);
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  outline: none;
  border: none;
}

.input-detail-2 {
  width: 100%;
  padding: 3%;
  font-size: 20px;
  color: var(--black);
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  outline: none;
  border: none;
}

.profile-margin-3 {
  margin-right: 3%;
}

.profile-width-20 {
  width: 15%;
}
.profile-width-50 {
  width: 50%;
}

.profile-width-5 {
  width: 5%;
}

.profile-width-80 {
  width: 95%;
}

.none {
  display: none;
}

/* ------------------Payment----------------- */
/* hidden div form */
.hidden-form {
  background-color: black;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid black;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* hidden div form */
.display-form {
  background-color: black;
  margin: -3% auto auto auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid black;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Modal (background) */
.sub-hidden-form {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255, 255, 255); /* Fallback color */
  background: rgba(255, 255, 255, 0.4);
  padding-top: 60px;
}

/* The Modal (background) */
.sub-display-form {
  width: 100%; /* Full width */
  padding-top: 60px;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/*-----------------footer----------------*/
.footer {
  background-color: var(--black);
  min-height: 50px;
  margin-top: auto;
  text-align: center;
}

.footer h1 {
  color: var(--white);
  font-size: 15px;
}
